.light, .dark {
    transition: background-color 3s, color 3s !important;
}

.App.dark {
    background-color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.App.light {
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #222;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-container p {
    margin-right: 10px;
}
.App.dark .rhap_container {
    background-color: rgb(11, 11, 11);
    transition: background-color 3s, color 3s;
}

.App.light .rhap_container {
    background-color: rgb(231, 230, 230);
    transition: background-color 3s, color 3s;
}

.App .rhap_header {
    margin-bottom: 10px;
    color:#f36427;
    font-weight: 700;
  }

@media (min-width:768px) {
    .App.rhap_header {
        display:flex;
        justify-content: center;
      }
}

.player_footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.Footer.dark {
    background-color: #222;
}

.Footer.light {
    background-color: whitesmoke;
}
