.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.content {
    padding-top: 10vh;
    padding-bottom: 15vh;
    background-color: #222;
    color: #ddd;
}

.App .rhap_container {
    background-color: black;
    bottom: 0;
    position: fixed;
}
