.App {
    background-color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    width: 100vw;
    padding-bottom: 150px;
    padding-right: 10px;
    padding-left: 10px;
}

.content {
    overflow: scroll;
}

.App .rhap_container {
    background-color: #222;
}

.player_footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}

