.Footer {
    background-color: #222;
    display: flex;
    justify-content: space-around;
    padding: 13px 0;
}

.Footer.dark a {
    color: whitesmoke;
}

.Footer.light a {
    color: #222
}

.Footer a:hover {
    color:#f36427;   
}

/* .Footer.dark a:active {
    color:#f36427;
} */

@media (min-width:768px) {
    .Footer {
        display: none;
    }
}
