.Header.dark {
    min-height: 10vh;
    width: 100%;
    background-color: #222;
    color: white;
    position: relative;
    z-index: 10;
    background-color: #222;
}

.Header.light {
    min-height: 10vh;
    width: 100%;
    background-color: #222;
    color: #222;
    position: relative;
    z-index: 10;
    background-color: whitesmoke;
}

.header-container h1{
    font-size: xx-large;
}

.lightdark {
    font-size: 1rem;
}



@media (max-width:768px) {
    header.dark .lightbulb-icon {
        font-size: 10rem;
    }
    .lightdark{
        font-size: 0.8rem;
    }

    .header-container h1{
        font-size: large;
    }

    h2 {
        font-size: medium;
    }
}

.headermenu {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}