.menu {
    display:flex;
    justify-content: space-around;
    gap: 5px;
    margin: auto;
    width: 40vw;
}

.menu a {
    display:flex;
    flex-direction: column;
    text-decoration: none;
}

/* .menu a:visited {
    text-decoration:none;
    color:#f36427
} */

/* .menu > a {
    color: whitesmoke;
    font-size: x-small;
} */

.menu.light a {
    color: #222;
} 

.menu.dark a {
    color:whitesmoke
}

.menu a:hover {

    color: #f36427
}


@media (max-width:768px){
    .menu {
        display: none;
    }
}