.menu {
    display:flex;
    justify-content: space-around;
    gap: 5px;
    margin: auto;
    width: 40vw;
}

.menu > a {
    text-decoration: none;
    display:flex;
    flex-direction: column;
}

.menu.dark > a {
    color: #f36427
}

.menu.light > a {
    color: #f36427
}

.menu > a:visited {
    color:#f36427
} 

.menu > a:visited {
    color:#f36427
}

.menu > a:hover {
    color: #f36427
}

@media (max-width:768px){
    .menu {
        display: none;
    }
}