.menu {
    display:flex;
    justify-content: space-around;
    gap: 5px;
    margin: auto;
    width: 40vw;
}

.menu a {
    padding: 10px;
    text-decoration: none;
}

.menu.dark a {
    color: whitesmoke;
}

.menu.light a {
    color: #222;
}

.menu > a:visited{
    text-decoration: none !important;
    color:whitesmoke;
}



@media (max-width:768px){
    .menu {
        display: none;
    }
}

