.PlaylistCard {
    margin: 0 5%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 15px;
}

.PlaylistCard.dark {
    background-color: rgb(51,51,51);
}

.PlaylistCard.light {
    background-color: rgb(51,51,51);
}


.PlaylistCard img {
    width: 150px;
    border-radius: 5px;
}

.PlaylistCard button {
    display:flex;
    width: 25;
    margin: 0 5%;
}

/* .PlaylistCard.light {
    margin: 0 5%;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 15px;
} */