.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4px


}

.grid-container img {
    max-width: 100%;
    border-radius: 5px;
}

.box{
    margin-bottom: -4px;
    padding: 2px;
}

/* .box > img:after{
    background-color: #f36427;
    opacity:100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
} */
    
.box:hover{
    border-top: solid #f36427;
    border-left: solid #f36427;
    border-radius: 5px;
    border-width: 5px;
    padding: 0px;
}

.grid-container img:hover {
    border-radius: 0px;
}

@media (min-width:768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-container img {
        max-width: 100%;
        border-radius: 5px;
    }
}

